.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.current {
  color: #535bf2;
  border-color: #535bf2;
}

.input input {
  background-color: #fff;
  border: none;
  padding: 10px;
  color: #1a1a1a;
  border-radius: 8px;
  outline: none;
  min-height: 30px;
  font-size: 20px;
}
